APP_ENV=dev

DB_USER=user
DB_PASSWORD=password
DB_NAME=finance
DB_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379

LOG_LEVEL=debug

TELEGRAM_BOT_TOKEN=from_bot_father
TELEGRAM_WEBHOOK_SECRET=custom_secret
TELEGRAM_WEBHOOK_URL=https_only
